# Virtual environment
venv/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Django-related
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
config/settings_local.py

# PostgreSQL-related
*.pgsql
*.pg

MSL-DATA/

DROPPED PROJECTS/

/issues
